<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/new-member-status/:id" class="nav-link" routerLinkActive="active">Add Member</a>
    </li>
    <li class="nav-item">
        <a routerLink="/member-status-list" class="nav-link" routerLinkActive="active">Member List</a>
    </li>
  </ul>
</nav>


<h3>Add Member Status</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Vaccine Dose 1 Status</label>
      <input type="text" class="form-control" id="dose1" required [(ngModel)]="memberStatus.dose1status" name = "dose1status">
    </div>

    <div class="form-group">
        <label for="name">Vaccine Dose 2 Status</label>
        <input type="text" class="form-control" id="dose2" required [(ngModel)]="memberStatus.dose2status"  name = "dose2status" >
      </div>

      <div class="form-group">
        <label for="name">Vaccine Dose 1 Date</label>
        <input type="date" class="form-control" id="date1" required [(ngModel)]="memberStatus.dose1date"  name = "dose1date" >
      </div>

      <div class="form-group">
        <label for="name">Vaccine Dose 2 Date</label>
        <input type="date" class="form-control" id="date2" required [(ngModel)]="memberStatus.dose2date"  name = "dose2date" >
      </div>
     
      <div class="form-group">
        <label for="name">Register Mobile No</label>
        <input type="text" class="form-control" id="regid" required [(ngModel)]="memberStatus.mobileRegNo"  name = "mobileRegNo" >
      </div>

      <div class="form-group">
        <label for="name">Member Id card No </label>
        <input type="text" class="form-control" id="idcard" required [(ngModel)]="memberStatus.memberIdCard"  name = "memberIdCard" >
      </div>

      <div class="form-group">
        <label for="name">Vaccine id </label>
        <input type="text" class="form-control" id="vaccineId" required [(ngModel)]="memberStatus.vaccineId"  name = "vaccine" >
      </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Success!</h4>
</div>
