button {
    margin-left: 5%;
}

table {
    margin-top: 4%;
}

#update:hover {
    background-color: aqua;
}

#delete:hover {
    background-color: rgb(153, 0, 0);
}
#View:hover {
    background-color: rgb(4, 93, 93, 1);
    color: white;
}
#View{
    float: left;
}