<h2 class="text-center">Update Vaccine</h2>
<div [hidden]="submitted">
    <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)" novalidate class="container col-sm-9 col-lg-9 col-mg-6 justify-content-center">
        <div class="form-group">
            <p>
                <label for="name">Vaccine Name</label>
                <input type="text" class="form-control" id="vaccineName" required minlength="4" maxlength="15"
                    #vaccineName="ngModel" [(ngModel)]="vaccine.vaccineName" name="vaccineName" pattern="^[a-zA-Z ]+$">
            </p>
            <div *ngIf="!vaccineName?.valid && (vaccineName?.dirty || vaccineName?.touched)" class="required">
                <div *ngIf="vaccineName.errors?.['required']">
                    Vaccine Name is Required.
                </div>
                <div *ngIf="vaccineName.errors?.['minlength']">
                    Vaccine Name Minimum Length is {{vaccineName.errors?.['minlength']?.requiredLength}}.
                </div>
                <div *ngIf="vaccineName.errors?.['maxlength']">
                    Vaccine Name Maximum Length is {{vaccineName.errors?.['maxlength']?.requiredLength}}.
                </div>
                <div *ngIf="vaccineName.errors?.['pattern']">
                    Only Characters are allowed.
                </div>
            </div>
        </div>
        <div class="form-group">
            <p>
                <label for="name">Description</label>
                <input type="text" class="form-control" id="description" required minlength="10" #description="ngModel"
                    [(ngModel)]="vaccine.description" name="description">
            </p>
            <div *ngIf="!description?.valid && (description?.dirty || description?.touched)" class="required">
                <div *ngIf="description.errors?.['required']">
                    Description is Required.
                </div>
                <div *ngIf="description.errors?.['minlength']">
                    Description Minimum Length is {{description.errors?.['minlength']?.requiredLength}}.
                </div>
            </div>
        </div>
        <p>
            <button class="btn btn-success" type="Submit" [disabled]="!updateForm.valid">Submit</button>
        </p>
    </form>
</div>