
 <div *ngIf="member">
  <div>
    <label><b>Name: </b></label> {{member.name}}
  </div>
  <div>
    <label><b> Date of Birth: </b></label> {{member.dob}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{member.gender}}
  </div>  
  <div>
    <label><b>City : </b></label> {{member.city}}
  </div>  
  <div>
    <label><b>State : </b></label> {{member.state}}
  </div>  
  <div>
    <label><b>Adhar No : </b></label> {{member.adharNo}}
  </div>  
</div>
<p></p>
<button (click)="list()" class="btn btn-primary" >Back to Member List</button> 